body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: unset;
  background-color: rgb(237, 242, 247);
}

#container,
#modal,
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 100px 100px 69px -29px rgba(0, 0, 0, 0.07);
}

.title {
  margin: 25px 0;
  font-size: 20px;
  justify-content: center;
  font-weight: 500;
}

#usr_input {
  width: 250px;
  padding: 0.8rem !important;
  border: 1px solid rgb(136, 145, 170);
  border-radius: 4px;
  padding: 0.8rem;
  font-size: 16px;
}

.invisible {
  display: none;
}

.iti {
  display: flex;
  gap: 10px;
}

.iti__arrow {
  display: none;
}

.iti__flag-container {
  position: relative;
  border: 1px solid rgb(136, 145, 170);
  border-radius: 4px;
  padding: 0.8rem;
}

.input_container .iti__selected-flag {
  background-color: #ffffff;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal_input {
  margin: 40px 0;
}

.input_component {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px 0;
}

.input_component > span {
  font-size: 14px;
  color: #d04848;
}

.hide {
  visibility: hidden;
}

.btn {
  padding: 15px 0;
  border-radius: 50px;
  font-weight: 600;
  font-size: 16px;
}

.continue_btn {
  border-width: 0;
  color: #ffffff;
  background-color: rgb(205, 210, 216);
}

.enable {
  background-color: rgb(2, 99, 224);
}

.skip_btn {
  margin: 20px 0 0 0;
}

a,
button {
  cursor: pointer;
}

.separator {
  color: #7f8487;
  font-size: 10px;
}

.passkey_btn {
  border-width: 1px;
  border-color: rgb(2, 99, 224);
  color: rgb(2, 99, 224);
  background-color: #ffffff;
  border-style: solid;
}
